<form action="{{ url_for('view_pairs') }}" method="get" hx-target="#player-pairs" hx-swap="innerHTML">
    <button type="submit" class="player-pairs-button">
        <div class="player-pairs">
            <h3>Your Pairs</h3>
            {% for card in player_pairs %}
            <div class="card-stack">
                <img src="{{ url_for('static', filename='cards/' + card + '.svg') }}" alt="{{ card }}" class="small-card">
            </div>
            {% endfor %}
        </div>
    </button>
</form>
